*.o
*.obj
*.so
*.out
*.a
*.exe
*.dll

/build/
/bin/
/Debug/
/Release/

__pycache__/
*.pyc
*.pyo
*.pyd

venv/
.env/

*.log
*.sqlite3

.vscode/
.idea/
*.swp
*.swo
*.swn
*.bak

Pipfile
Pipfile.lock
poetry.lock

.ipynb_checkpoints/

CMakeCache.txt
CMakeFiles/
Makefile
cmake_install.cmake
